.header {
    display: flex;
    padding: 30px;

    h3 {
        flex: 1;
        font-size: 40px;
        margin: 0;
    }

    ul {
        display: flex;
        list-style: none;
        gap: 20px;

        li {
            font-size: 20;
            font-weight: bold;
            cursor: pointer;
        }
    }
}